<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zoosumx2">

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WrongAnsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PointActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MailboxFirstActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TownActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StoreActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResidentQuizActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MakequizActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConfirmOthersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConfirmRecycleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GetRegionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GetRewardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IslandNameActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PhotoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RandomQuizActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RandomquizCorrectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RandomquizWrongActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserNameActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>