<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zoosumx2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="true"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/zoosumx2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/zoosumx2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".GlobalApplication">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth"
                    android:scheme="kakao4e50b407032508e73f0024e851a1dbcc" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WrongAnsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PointActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MailboxFirstActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TownActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StoreActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResidentQuizActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MakequizActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConfirmOthersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConfirmRecycleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GetRegionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GetRewardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IslandNameActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PhotoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RandomQuizActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".UserNameActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:authorities="com.example.zoosumx2.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>